asn1crypto==0.24.0
beautifulsoup4==4.6.0
chardet==3.0.4
Click==7.0
cryptography==2.1.4
enum34==1.1.6
futures==3.2.0
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Logbook==1.4.3
lxml==4.3.4
numpy==1.13.3
py==1.8.0
pycrypto==2.6.1
pygobject==3.26.1
pyshark-legacy==0.3.8
pyxdg==0.25
scapy==2.4.2
scour==0.36
SecretStorage==2.3.1
six==1.11.0
termcolor==1.1.0
trollius==1.0.4
virtualenv==16.6.0
webencodings==0.5
